
$borderColor: #3f51b5;
$labelColor: #1a237e;

// Fix a toolbar to top
body{
	display: flex;
	flex: auto;
	flex-direction: row;
}
.mika{
	width: 100%;
}


.mika .sidenav,
.mika .sidenav md-content{
    background: #1a237e;
    color: #fff;
}

.mika{
	// 画面に表示しきれない非常に長い行は途中で省略する
	.main_container{
		overflow: hidden;
	}
	.record_list md-card-content .body{
		overflow: hidden;
		text-overflow: ellipsis;
	}

	form.post{
		border-bottom: solid 1px $borderColor;

		label{
			color: $labelColor;
		}

		textarea, input{
			border-bottom: solid 1px #1a237e;

			&:focus{
				border-bottom: solid 4px #1a237e;
			}
		}
	}

	md-sidenav.sidenav{
		max-width: 300px;
		border-right: solid 1px $borderColor;
	}

	.threadList a{
		width: 100%;
		text-align: left;
	}

	.thread_view{
		.post.active{
			textarea{
				min-height: 10em;
			}
		}

		.record_list .info_wrap {
			float: left;
		}
		.record_list .datetime_wrap {
			float: right;
		}
	}
}

