<!DOCTYPE html>
<html>
<meta charset='utf-8' />
<link rel='stylesheet' type='text/css' href='./index.css' />

<div class='mika' ng-app='mika' ng-controller='MikaCtrl'>
	<div class='sidebar_button active'>≡</div>
	<div class='sidebar_overlay'></div>
	<div class='sidebar' ng-controller='MenuCtrl'>
		<ul class='tab'>
			<li ng-click='setMenuViewType(MenuViewType.thread)' ng-class='menuView == MenuViewType.thread && "selected"'>
				<a href=''>Threads</a>
			</li>
			<li ng-click='setMenuViewType(MenuViewType.tag)' ng-class='menuView == MenuViewType.tag && "selected"'>
				<a href=''>Tags</a>
			</li>
		</ul>

		<ul class='thread list' tab_content='thread' ng-class='menuView == MenuViewType.thread && "active"'>
			<li ng-class='mainView == MainViewType.newThread && "selected"'>
				<a href='' ng-click='switchMainView(MainViewType.newThread)'>New Thread</a>
			</li>
			<li ng-repeat='thread in threads.threads' thread_name='{{thread.title}}' ng-class='thread.id == currentThread.id && "selected"'>
				<a href='' ng-click='setCurrentThread(thread)'>{{thread.title}}</a>
			</li>
		</ul>

		<ul class='tag list' tag_content='tag' ng-class='menuView == MenuViewType.tag && "active"'>
			<li ng-repeat='tag in tags' tag_name='{{tag.name}}'>
				<a href=''>{{tag.name}}</a>
			</li>
		</ul>
	</div>

	<div class='main'>
		<div class='new_thread_view post' ng-controller='ThreadCtrl' ng-class='mainView == MainViewType.newThread && "active"'>
			<form ng-submit='postThread()'>
				スレッド名 : <input ng-model='newThread.title' />
				<input value='表示' type='submit' />
			</form>
		</div>

		<div class='thread_view' ng-controller='ThreadCtrl' ng-class='mainView == MainViewType.thread && "active"'>
			<h1 class='title'>{{currentThread.title}}</h1>
			<div class='record_list'>
				<div ng-repeat='record in currentThread.recordList.records'>
					<div class='header'>
						<span class='id'>{{record.id}}</span>
						<span class='name'>{{record.name}}</span>
						[<span class='mail'>{{record.mail}}</span>]
						<span class='datetime'>{{record.timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span>
					</div>
					<p ng-bind-html='record.htmlBody' class='body'></p>
				</div>
			</div>
			<div class='post'>
				<form ng-submit='postResponse()'>
					名前 : <input name='name' ng-model='newResponse.name' />
					メール : <input name='mail' ng-model='newResponse.mail' />
					<input type='submit' value='投稿' />
					<textarea name='body' ng-model='newResponse.body'></textarea>
				</form>
			</div>
		</div>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js'></script>
	<script src='./lib/sanitize.js'></script>
	<script src='./index.js'></script>
</div>
</html>

